html {
  font-family: "Graphik Web";
}

body {
  background: radial-gradient(
      15em 15em at 35% 45%,
      #ffffff 100%,
      #e5e5e5 100%,
      transparent 100%
    ),
    radial-gradient(7em 7em at 80% 90%, #ffffff 100%, #f5f5f5 100%);
  background-repeat: no-repeat;
}

.header-container {
  display: grid;
  padding: 32px;
  height: 100%;
}

.header-row {
  text-align: left;
}

.header-title {
  font-weight: 500;
  font-size: large;
  text-align: left;
  color: #232325;
  letter-spacing: 0.095em;
}

.header-menu {
  text-align: right;
  color: #232325;
}

.header-menu-item {
  padding: 0 32px 0 32px;
  color: #343438;
  
}

.content-row {
  text-align: left;
}

.content {
  font-weight: medium;
  font-size: 50px;
  text-align: left;
  color: #232325;
  display: inline-block;
}

span{
  overflow: hidden;
  display: inline-block;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    bottom: 20%;
    height: 30%;
    width: 100%;
    z-index: -1;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-delay: inherit;
  }
}

.cristiana{
  display: inline;
  &:before{
    content: "";
    position: absolute;
    background-color: rgb(188,236,248);
    animation-name: highlight-1;
    animation-iteration-count: 1;
  }
}

.cristiana-1{
  display: inline;
  &:before{
    content: "";
    position: absolute;
    animation-name: highlight-1;
    animation-iteration-count: 1;
    background-color: rgb(255,244,193);
  }
}

.cristiana-2{
  display: inline;
  &:before{
    content: "";
    position: absolute;
    animation-name: highlight-1;
    animation-iteration-count: 1;
    background-color: rgb(209,213,255);
  }
}

.cristiana-3{
  display: inline;
  &:before{
    content: "";
    position: absolute;
    animation-name: highlight-1;
    animation-iteration-count: 1;
    background-color: rgb(250,199,193);
  }
}

p{
  &:nth-of-type(1) span:before{
    animation-delay: 0s;
  }
  &:nth-of-type(2) span:before{ 
    animation-delay: 1s;
  }
  &:nth-of-type(3) span:before{
    animation-delay: 2s;
  }
  &:nth-of-type(3) span:before{
    animation-delay: 3s;
  }
}


@keyframes highlight-1{
  0%{
    width: 0%;
  }
  50%{
    width: 100%;
  }
}

.make-pretty:hover {
  background-color: rgb(253, 244, 199);
}

.footer-row {
  text-align: right;
}

.footer {
  text-align: right;
  margin-right: 10%;
}
